body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: sandybrown;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none !important;
}

#startScreen {
    width: 720px;
    height: 480px;
    background: url('img/9.Intro _ Outro Image/Start Screen/Opción2.png');
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gameguide {
    border: solid gray 1px;
    width: 720px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.charakter-move {
    font-family: 'Bree Serif', serif;
    padding: 8px;
}

.start {
    display: flex;
}

.btn-start {
    border: none;
    width: 60px;
    font-family: 'Bree Serif', serif;
    border-radius: 10px;
    background-color: #f1c98d;
    cursor: pointer;
}

.btn-newGame {
    border: none;
    width: 60px;
    font-family: 'Bree Serif', serif;
    border-radius: 10px;
    background-color: #f1c98d;
    cursor: pointer;
}

.fullscreen-btn {
    display: flex;
    justify-content: center;
    border: none;
    font-family: 'Bree Serif', serif;
    border-radius: 10px;
    background-color: #f1c98d;
    cursor: pointer;
    height: 20px;
    margin-top: 8px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .gameguide {
        display: none;
    }

    h1 {
        display: none;
    }

    .fullscreen-btn {
        display: none;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}